body {
	background-color: #fff;
	color: #333;
	font-family: Arial, "楷体";
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	width: 100%;
}

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
}

.header {
	height: 50px;
	background-color: rgb(255, 128, 0);
}

.gap_after_header {
	height: 150px;
}

table tr,table tr td {
	font-size: 25px;
	height: 27px;
}

.table_title {
	text-align: center;
	background-color: rgb(128, 128, 128);
}

a {
	cursor: pointer;
}

input {
	font-family: Arial, "楷体";
}

body nav {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: rgb(255, 128, 0);
}

nav a:HOVER {
	text-decoration: underline;
}

nav a:VISITED {
	text-decoration: none;
}

nav ul li {
	margin-right: 10px;
	list-style-type: none;
	float: right;
}

.level2 {
	display: none;
	position: relative;
	height: auto;
}

.level2 li {
	float: none;
}

.level1 li:HOVER .level2 {
	display: block;
}

button {
	cursor: pointer;
	font-family: Arial, "楷体";
}