body {
	background-color: #fff;
	color: #333;
}

.wrapper {
	width: 100%;
	height: 100%;
	background-color: rgb(189, 199, 75);
	position: absolute;
}

.header {
	height: 50px;
	background-color: rgb(72, 230, 45);
}

.gap_after_header {
	height: 100px;
}

table tr, table tr td {
	font-size: 25px;
	height: 27px;
}

a {
	cursor: pointer;
}

nav {
	height: 30px;
	background-color: rgb(72, 230, 45);
	padding:10px 60px 20px 60px;
}

nav a:HOVER {
	text-decoration: underline;
}